.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
}

.property {
  font-weight: bold;
}
